- list_of_task_types = list_of_task_types
= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          =link_to "Task","#"
        %li
          =link_to "Templates","#"

      -#= f.label :Task
    = f.text_area :title, :class => "span8"

  .well.well-small
    .form-inline
      .btn-group.user_story_types
        %button.btn.btn-small{:id => 0, :data=>{:class => "btn-primary"}}
          %l.icon-star-empty
          Feature
        %button.btn.btn-small{:id => 6, :data=>{:class => ""}}
          %l.icon-star-half
          Story
        %button.btn.btn-small{:id => 2, :data=>{:class => "btn-inverse"}}
          %l.icon-cogs
          Chore
        %button.btn.btn-small{:id => 1, :data=>{:class => "btn-danger"}}
          %l.icon-bolt
          Bug

      .btn-group.other_toolbox
        .btn-group
          %button.btn.btn-small{:id => 3, :data=>{:class => "btn-warning"}}
            %l.icon-bullhorn
            Instruction
          %button.btn.btn-small{:id => 4, :data=>{:class => "btn-info"}}
            %l.icon-briefcase
            Self task
          %button.btn.btn-small{:id => 5, :data=>{:class => "btn-success"}}
            %l.icon-ok
            Simple task
      =f.hidden_field :task_type
      -#%p
      -#  .checkbox
      -#    %label.checkbox
      -#      =check_box_tag 'user_story_type'
      -#      User story type

  .field.behavior_block{:class => @task.task_type == '0' ? "" : "h" }
    %i.icon-sitemap
    Behavior
    =f.text_area :behavior, :class => "span8"

  .field
    =f.label :tags
    .input-prepend
      %span.add-on
        %i.icon-tags
      = f.text_field :tagging_list, :class => "span4"
  .field
    =f.label "Assigned_to"
    .input-prepend
      %span.add-on
        %i.icon-user
      = collection_select(:task, :assigned_to, @task.project.users, :id, :login, :prompt => true)

  .field
    =f.label "To finish at:"
    Day | 3 days | Week | 2 weeks| custom
    .input-prepend
      %span.add-on
        %i.icon-user
      -#= f.date_select :start, :class => "datapicker"



  -#.field
  -#  = f.label :desc
  -#  = f.text_area :desc
  .actions
    = f.submit 'Save', {:class => "btn"}
