= form_for [@task.project, @task] do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          =link_to "Task","#"
        %li
          =link_to "Templates","#"

      -#= f.label :Task
    = f.text_field :title, :class => "span8 task-title"

  .well.well-small
    .row-fluid
      .span6
        .btn-group.user_story_types
          %button.btn.btn-small{:id => 0, :data=>{:class => "btn-primary"}}
            %l.icon-star-empty
            Feature
          %button.btn.btn-small{:id => 6, :data=>{:class => ""}}
            %l.icon-star-half
            Story
          %button.btn.btn-small{:id => 2, :data=>{:class => "btn-inverse"}}
            %l.icon-cogs
            Chore
          %button.btn.btn-small{:id => 1, :data=>{:class => "btn-danger"}}
            %l.icon-bolt
            Bug

      .span6
        .btn-group.other_toolbox
          %button.btn.btn-small.dropdown-toggle{:id => 3, :data => {:toggle => "dropdown", :class => "btn-warning"}}
            %l.icon-calendar
            %span{:id => "instruction_text",:data => {:default_text => "Until:"}}
              Urgent
            %span.caret
          %ul.dropdown-menu
            %li
              =link_to "1 day", "#", :data=>{:finish => (Time.now+1.day).to_s(:db).to_date}
            %li
              =link_to "3 days", "#", :data=>{:finish => (Time.now+3.day).to_s(:db).to_date}
            %li
              =link_to "week", "#", :data=>{:finish => (Time.now+7.day).to_s(:db).to_date}
            %li
              =link_to "2 weeks", "#", :data=>{:finish => (Time.now+14.day).to_s(:db).to_date}
            %li.divider
            %li
              =link_to "Anytime", "#", :data=>{:finish => "", :anytime => "true"}
            %li
              =link_to "Custom", "#", :data=>{:finish => (Time.now+1.month).to_s(:db).to_date, :default_text => "Custom"}
          %button.btn.btn-small{:id => 4, :data=>{:class => "btn-info"}}
            %l.icon-briefcase
            Self task
          %button.btn.btn-small{:id => 5, :data=>{:class => "btn-success"}}
            %l.icon-ok
            Draft
        =f.text_field :end, :placeholder => "Finish until...", :class => "h"
      =f.hidden_field :task_type
  .field
    %i.icon-edit
    Description
  
    =f.text_area :desc, :class => "span8", :rows => 7

  .field.well(ng-controller='TodoCtrl' ng-init="todos = #{@task.todos.to_json(:only => [:id, :title, :checked])}")
    = f.label :todos
    .input-append
      = text_field_tag '', nil, 'ng-model' => 'todoTitle', :id => 'appendedDropdownButton', :class => 'span6'
      .btn-group
        = button_tag 'ng-click' => 'addTodo()', :class => 'btn btn-success', :onclick => 'return false' do
          %i.icon-plus
          = 'Add'
    .todo-list(ng-repeat='todo in todos' ng-hide='isVisible($index)')
      = link_to '#', :class => 'pull-right', 'ng-click' => 'removeTodo($index)', :onclick => 'return false' do
        %i.icon-remove
      = link_to '#', :class => 'pull-right', 'ng-click' => 'editTodo($index)', :onclick => 'return false' do
        %i.icon-pencil
      = f.fields_for :todos, Todo.new, child_index: '{{$index}}' do |tl_f|
        = tl_f.hidden_field :id,   :value => '{{todo.id}}',      :id => 'task_todo_attributes_{{$index}}_id'
        = tl_f.check_box :checked, 'ng-model' => 'todo.checked',
                                   :id => 'task_todo_attributes_{{$index}}_checked',
                                   'ng-hide' => 'todo.edit'
        = tl_f.hidden_field :_destroy, :value => '{{todo.destroy}}',
                                       :id => 'task_todo_attributes_{{$index}}_destroy'
        = tl_f.text_field :title,  'ng-model' => 'todo.title',
                                   :id => 'task_todo_attributes_{{$index}}_title',
                                   'ng-show' => 'todo.edit'
        = button_tag 'Save', 'ng-click' => 'saveTodo($index)', 'ng-show' => 'todo.edit', :onclick => 'return false'

      %span(ng-hide='todo.edit') {{todo.title}}

  .field.behavior_block{:class => @task.task_type == '0' ? "" : "h" }
    %i.icon-sitemap
    Behavior
    =f.text_area :behavior, :class => "span8", rows: 7

  .field
    =f.label :tags
    .input-prepend
      %span.add-on
        %i.icon-tags
      = f.text_field :tagging_list, :class => "span4"
  .field
    =f.label "Assigned_to"
    .input-prepend
      %span.add-on
        %i.icon-user
      = collection_select(:task, :assigned_to, @task.project.users, :id, :login, :prompt => true)
  .field
    =f.label "Sprint"
    .input-prepend
      %span.add-on
        %i.icon-forward
      - if can? :manage_sprints, @task
        = collection_select(:task, :sprint_id, @task.project.sprints.alive, :id, :short_desc, include_blank: true)
      - else
        %span.uneditable-input.input-xlarge
          - if @task.sprint
            = @task.sprint.short_desc
  .field
    =f.label "Change project"
    .input-prepend
      %span.add-on
        %i.icon-leaf
      = collection_select(:task, :project_id, current_user.projects, :id, :name, :prompt => true)


  -#.field
  -#  = f.label :desc
  -#  = f.text_area :desc
  .actions
    = f.submit 'Save', {:class => "btn"}
