-@projects.each do |project|
  %p
    .lead
      %i.icon-leaf
      = link_to(project.name, project_path(project))
    %blockquote
      %table.table.span12
        - @tasks.select {|t| t.project_id == project.id }.each do |task|
          %tr
            %td.span1
              = user_icon task.owner, 25, :class => 'img-rounded'
            %td.span1
              %h2
                -#      a = []
                -#      a[0] = "estimate"
                -#      a[1] = "start"
                -#      a[2] = "finish"
                -#      a[3] = "pushed"
                -#      a[4] = "testing"
                -#      a[5] = "accept/reject"
                -#      #a[5] = "accept"
                -#=t.status
                -#=t.status_via_words
              = type_icon(task.task_type) if task.task_type
            %td.span10
              = link_to task.title, project_task_path(project, task)
            %td.span1
              %i.icon-comment-alt
              = @comments_count[task.id].to_i