

- if @task.task_type == "0" &&  @task.behavior.present?
  =content_for :right_column do |c|
    .lead
      Behavior
    :markdown
      #{@task.behavior}
%ul.breadcrumb
  %li
    %i.icon-home
    =link_to "Home", root_path
    %span.divider /
  %li
    = link_to @task.project.name, project_path(@task.project)
    %span.divider /
  %li
    =link_to "User stories", project_user_stories_path(@task.project)
%small
  Assigned by #{@task.owner.fio}
  -if @task.estimate
    .estimate
      Estimate: #{@task.estimate} points
  .worked
    -if @task.hours_worked_on_task
      Hours work on: #{@task.hours_worked_on_task} h

  - if @strikes
    %p
      -@strikes.each do |s|
        %h4
          .red
            %i.icon-bell-alt
            =s.desc
          %blockquote
            %small
              - if s.date_of_assignment
                =distance_of_time_in_words_to_now s.date_of_assignment
              ,
              by:
              =User.find(s.assigned_by).fio
              - if s.active_or_not
                %i.icon-eye-open.red
              -else
                %i.icon-eye-close
.bs-docs-example.shadow
  - classes_to_add = ""
  - @task.accepted_to_start.present? ? classes_to_add << "white_back" : ""
  - @task.assigned_to.present? ? "" : classes_to_add << " h"


  -#if not done and not user story
  -unless [0,1,2].include?(@task.task_type.to_i)
    - unless @task.finished_at.present?
      .accept_task{:class => classes_to_add}
        #accepted_time
          -#если в задаче есть поле начал
          - if @task.accepted_to_start.present?
            - if current_user.eql? @task.assigned_to_user
              =link_to task_finish_work_path(@task), :class =>"blue", :remote => true, :method => "post", :confirm => "Sure?" do
                %i.icon-question-sign
                &nbsp;
                Is work complete?
            - else
              %i.icon-ok
              Accepted:
              =distance_of_time_in_words_to_now(@task.accepted_to_start)

          -else
            #accept_me
              - if @task.assigned_to_user.present? && @task.assigned_to_user.eql?(current_user)
                =link_to task_accept_to_start_path(@task), :class =>"green", :remote => true, :method => "post", :confirm => "Sure?" do
                  %i.icon-thumbs-up
                  &nbsp;
                  Accept to start
              - else
                %span
                  %i.icon-warning-sign.red
                  Not accepted yet

  .avatar= gravatar_image_tag @assigned_to
  %p.lead
    =type_icon(@task.task_type) if @task.task_type
    &nbsp;
    #{@task.title}


    =link_to edit_task_path(@task) do |l|
      %i.icon-edit
    - if @task.tag_list.present?
      .row-fluid
        .accordion-group.well-small
          %i.icon-tags
          %small
            =@task.tag_list
    .clear
    - if @task.desc.present?
      .small
        %small
          :markdown
            #{@task.desc}
    - if @task.accepted_to_start
      %small
        -if @task.accepted_to_start
          %i.icon-thumbs-up
          %em
            Accepted to start:
            =distance_of_time_in_words_to_now @task.accepted_to_start
        - if @task.finished_at
          .done
            %i.icon-thumbs-up
            Done at:
            =distance_of_time_in_words_to_now @task.finished_at
.row-fluid
  .lead Discussion:
  =form_tag task_add_new_comment_path(params[:id]), :remote => true do |f|
    =hidden_field_tag "user_id", current_user.id
    =hidden_field_tag "id", @task.id

    =text_area_tag "task[comment]", "", :class => "span12"
    .row-fluid
      =submit_tag "Say it using Markdown", :class => "btn btn-success", :disable_with => 'loading...'
      .info.pull-right
        %i.icon-external-link
        %small= link_to "Как пользоваться Markdown?", "http://rukeba.com/blog/2009/02/28/markdown-sintaksis-po-russki/", :target => "_blank"

    %p
    .row-fluid
      %small
        %i.icon-paper-clip
        =link_to "upload file via minus.com", "http://minus.com/", :target => "_blank"
=hidden_field :mention, :logins, :data => {:logins => @project_users}


#comments_line
  -#= render :partial => "comments", :locals => {:comments => @task.discussion.comments, :list_of_mentions => @list_of_mentions}
  = render :partial => @task.discussion.comments

