- if @task.task_type == "0" &&  @task.behavior.present?
  =content_for :right_column do |c|
    .lead
      Behavior
    =@task.behavior
%ul.breadcrumb
  %li
    =link_to "Home", root_path
    %span.divider /
  %li
    = link_to @task.project.name, project_path(@task.project)
    %span.divider /
  %li
    =link_to "User stories", project_user_stories_path(@task.project)
.bs-docs-example.shadow
  - classes_to_add = ""
  - @task.accepted_to_start.present? ? classes_to_add << "white_back" : ""
  - @task.assigned_to.present? ? "" : classes_to_add << " h"

  .accept_task{:class => classes_to_add}
    - if @task.accepted_to_start.present?
      #accepted_time
        %i.icon-ok
        Accepted:
        =distance_of_time_in_words_to_now(@task.accepted_to_start)
    - else
      #accept_me
        - if @task.assigned_to_user.present? && @task.assigned_to_user.eql?(current_user)
          =link_to task_accept_to_start_path(@task), :class =>"green", :remote => true, :method => "post", :confirm => "Sure?" do
            %i.icon-thumbs-up
            &nbsp;
            Accept to start
        - else
          %span
            %i.icon-warning-sign.red
            Not accepted yet
  .avatar= gravatar_image_tag @assigned_to
  %p.lead
    =type_icon(@task.task_type) if @task.task_type
    &nbsp;
    #{@task.title}

    =link_to edit_task_path(@task) do |l|
      %i.icon-edit
    - if @task.tag_list.present?
      .row-fluid
        .accordion-group.well-small
          %i.icon-tags
          %small
            =@task.tag_list
    - if @task.desc.present?
      .small
        %small= @task.desc



.row-fluid
  .lead Discussion:
  =form_tag task_add_new_comment_path(params[:id]), :remote => true do |f|
    =hidden_field_tag "user_id", current_user.id
    =hidden_field_tag "id", @task.id

    =text_area_tag "task[comment]", "", :class => "span12"
    .row-fluid
      =submit_tag "Comment", :class => "btn", :disable_with => 'loading...'
    %p
    .row-fluid
      %i.icon-paper-clip
      =link_to "upload file via minus.com", "http://minus.com/", :target => "_blank"




=hidden_field :mention, :logins, :data => {:logins => @project_users}


#comments_line
  -#= render :partial => "comments", :locals => {:comments => @task.discussion.comments, :list_of_mentions => @list_of_mentions}
  = render :partial => @task.discussion.comments

