- if @task.task_type == "0" &&  @task.behavior.present?
  =content_for :right_column do |c|
    .lead
      Behavior
    :markdown
      #{@task.behavior}
%ul.breadcrumb
  %li
    %i.icon-home
    =link_to "Home", root_path
    %span.divider /
  %li
    = link_to @task.project.name, project_path(@task.project)
    %span.divider /
  %li
    =link_to "User stories", project_user_stories_path(@task.project)
%small
  Assigned by #{@task.owner.fio}
  - if (["admin", "finance_manager"].include?(current_user.role(@task.project.id))) &&  @task.assigned_to_user
    %h5
      =link_to project_task_sms_ping_path(@task.project, @task), :remote => true, :class => "btn" do
        %i.icon-eye-open
        SMS ping
  -if @task.estimate
    .estimate
      Estimate: #{@task.estimate} points
  .worked
    -if @task.hours_worked_on_task
      Hours work on: #{@task.hours_worked_on_task} h

  - if @strikes
    %p
      -@strikes.each do |s|
        %h4
          .red
            %i.icon-bell-alt
            =s.desc
          %blockquote
            %small
              - if s.date_of_assignment
                =distance_of_time_in_words_to_now s.date_of_assignment
              ,
              by:
              =User.find(s.assigned_by).fio
              - if s.active_or_not
                %i.icon-eye-open.red
              -else
                %i.icon-eye-close
.bs-docs-example.shadow
  = render 'task'
.row-fluid
  .lead Discussion:
  =form_tag project_task_add_new_comment_path(@task.project, params[:id]), :remote => true do |f|
    =hidden_field_tag "user_id", current_user.id
    =hidden_field_tag "id", @task.id
    =text_area_tag "task[comment]", "", :class => "span12"
    .row-fluid
      =submit_tag "Say it using Markdown", :class => "btn btn-success", :disable_with => 'loading...'
      .info.pull-right
        %i.icon-external-link
        %small= link_to "Как пользоваться Markdown?", "http://rukeba.com/blog/2009/02/28/markdown-sintaksis-po-russki/", :target => "_blank"
    %p
    .row-fluid
      %small
        %i.icon-paper-clip
        =link_to "upload file via minus.com", "http://minus.com/", :target => "_blank"
        - if @task.discussion.notificable_users(current_user).count > 0
          .info.pull-right
            Users to notify:
            -@task.discussion.notificable_users(current_user).each do |u|
              = gravatar_image_tag(u.email, :class => "img-circle", :gravatar => { :size => 20 })

=hidden_field :mention, :logins, :data => {:logins => @project_users}

#comments_line
  = render :partial => @task.discussion.comments

