.row-fluid
  .span10
    %ul.breadcrumb
      %li
        =link_to "Abulafia", root_path
        %span.divider /
      %li
        =link_to "Projects", projects_path
        %span.divider /
      %li
        =link_to parent.name, parent
        %span.divider /
      %li
        .active
          %i.icon-leaf
          %strong
            Sprint №
            = @sprint.iteration_number
          %span.divider /
.page-header
  %h4
    %em
      sprint:
    - if can?(:manage, @sprint)
      = best_in_place @sprint, :title, :type => :input, path: project_sprint_path(parent, @sprint.iteration_number),
                                activator: '#edit_title'
      %button.btn
        %i.icon-edit{ id: 'edit_title'}
    - else
      = @sprint.title
    %em
      №
    = @sprint.iteration_number
.row-fluid
  .span9
    = render partial: 'description'
  .span3
    = render partial: 'links'