%ul.breadcrumb
  %li
    %i.icon-home
    = link_to "Abulafia", root_path
    %span.divider /
  %li
    = link_to "Contacts", contacts_list_path


=content_for :right_column do
  - if @user.discussion.comments
    .row-fluid.span3
      .lead
        %i.icon-folder-open-alt
        Notes
        = link_to "#", :class=> "add_note_to_user_toggle" do
          %i.icon-plus.green

      .form_to_add_note.h
        = form_tag add_new_comment_to_contact_path(params[:id]), :id => "add_new_comment_to_contact" , :remote => true do |f|
          = hidden_field_tag "user_id", current_user.id
          = text_area_tag "user[comment]", "", :class => "span10"
          .row-fluid
            = submit_tag "Say it using Markdown", :class => "btn btn-success", :disable_with => 'loading...'
      #comments_line
        = render :partial => @user.discussion.comments


.row
  .span2
    = user_icon(@user, 150, :class => 'img-rounded')
  .span3
    = @user.desc
%p

%table.table.table-striped
  %tr
    %td
      Name:
    %td
      = @user.fio
  %tr
    %td
      E-mail:
    %td
      = @user.email
  %tr
    %td
      Login:
    %td
      = @user.login
  %tr
    %td
      Initials:
    %td
      = @user.initials
  %tr
    %td
      Cell:
    %td
      = @user.cell
  %tr
    %td
      IM:
    %td
      = @user.im
  %tr
    %td
      Hip chat user_id:
    %td
      = @user.hc_user_id

  %tr
    %td
      Last sign in
    %td
      -unless @invitation_accepted_list.include?(@user.email) || @user.email == current_user.email
        %small
          Not accepted invitation yet
      - else
        %small
          = distance_of_time_in_words_to_now(@user.last_sign_in_at)
          ago
  %tr
    %td
      Strikes
    %td
      - @user.strikes.count.times do
        %i.icon-bell-alt.orange
      = link_to "#" do
        %i.icon-plus.green.toggle_create_strike

  %tr
    %td
      Description:
    %td
      = @user.desc


.new_strike
  %h4 Create strike
  = form_for @user.strikes.new do |f|
    = f.text_area :desc, :placeholder => "Skrike reason"
    %p
    = f.number_field :task_id, :placeholder => "task id"
    %br
    = f.hidden_field :assigned_by, :placeholder => "by", :value => current_user.id
    = f.hidden_field :user_id, :placeholder => "to", :value => @user.id
    = f.label "when"
    = f.text_field :date_of_assignment, :placeholder => "date", :value => Time.now.to_s(:db)
    %br
    = f.button :class => "btn btn-success", :html => {:type => "submit"}



