-#=gflash
- project = @project ? @project : project
- if @tasks.present?
  - tasks = @tasks
- elsif tasks.present?
  - tasks = tasks
- else
  - tasks = project.tasks

%ul.breadcrumb
  .pull-right
    - if @project.project_manager
      %span{:title => "project manager of project"}
        = link_to user_profile_path(@project.project_manager) do |u|
          = user_icon(@project.project_manager)

-if project
  - if tasks.urgent.present?
    .lead.yellowgreen
      Urgent
    .accordion{:id => "accordion_id"}
      = render :partial => "projects/story", :locals => {:tasks => tasks.urgent, :place => "urgent", :updated_task => nil}


  - if tasks.draft.present?
    .lead
      =link_to "Draft", project_tasks_path(project )
    .accordion{:id => "accordion_id"}= render :partial => "tasks/story", :locals => {:tasks => tasks.draft, :place => "draft", :updated_task => nil}

  -#- if tasks.my_work(current_user).present?
  -#  .lead
  -#    =link_to "My work", project_tasks_path(project )
  -#  .accordion{:id => "accordion_id"}= render :partial => "projects/story", :locals => {:tasks => tasks.my_work(current_user).first(3), :place => "my_work", :updated_task => nil}
  -#
  -#- if tasks.backlog.present?
  -#  .lead
  -#    =link_to "Backlog", project_tasks_path(project)
  -#  .accordion{:id => "accordion_id"}= render :partial => "projects/story", :locals => {:tasks => tasks.backlog.first(3), :place => "backlog", :updated_task => nil}

  - if tasks.icebox.present?
    .lead
      =link_to "Icebox", project_tasks_path(project)
    .accordion{:id => "accordion_id"}= render :partial => "tasks/story", :locals => {:tasks => tasks.icebox.first(3), :place => "icebox", :updated_task => nil}


