-#-for activity in @activities
-#  .row
-#    = render_activity(activity)
%p
  %h4.add_project_block
    = link_to "#" do
      %i.icon-plus.green
      %i.icon-leaf.green
  .add_new_project_field.h
    = form_for Project.new do |f|
      - if Project.new.errors.any?
        #error_explanation
          %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @project.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.text_field :name, :placeholder => "Create new project", :autocomplete => "off"
      .field
        = f.text_area :desc, :placeholder => "About project here"
        .checkbox
          = f.check_box :is_department
          is department?
      %p
        .actions
          = f.button 'Save', :class => "btn"

  -list_of_project_managers = []

  -#-@projects.without_departments.each do |project|
  -#  -list_of_project_managers << project.project_manager

  -list_of_project_managers = @projects.without_departments.map{|project| project.project_manager}
  -list_of_project_managers.compact!
  -#= raise list_of_project_managers.to_json
  -if list_of_project_managers.any?
    -#= raise list_of_project_managers.compact!.to_json
    -list_of_project_managers.uniq!
    -#list_of_project_managers.compact!

    -list_of_project_managers.each do |pm|
      .lead
        .avatar
          =gravatar_image_tag pm.email
        = pm.fio

      %blockquote

        -pm.projects.each do |project|
          - if project.project_manager && project.is_department == false && project.project_manager == pm
            .project_alone
              %h4
                %i.icon-leaf
                = link_to project.name, project
              %blockquote
                -project.users.each do |u|
                  =gravatar_image_tag(u.email, :class => "img-circle", :gravatar => { :size => 20 })




  - @projects.without_departments.each do |project|
    - if project.project_manager.nil?
      .project_alone
        %h4
          %i.icon-leaf
          = link_to project.name, project
        %blockquote
          -project.users.each do |u|
            =gravatar_image_tag(u.email, :class => "img-circle", :gravatar => { :size => 20 })

.lead
  Departments
- @projects.only_departments.each do |project|
  %p
    %i.icon-briefcase
    &nbsp;
    = link_to project.name, project





