-#-for activity in @activities
-#  .row
-#    = render_activity(activity)
%p
  %h4.add_project_block
    = link_to "#" do
      %i.icon-plus.green
      %i.icon-leaf.green

  .add_new_project_field.h
    = form_for Project.new do |f|
      - if Project.new.errors.any?
        #error_explanation
          %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @project.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.text_field :name, :placeholder => "Create new project", :autocomplete => "off"
      .field
        = f.text_area :desc, :placeholder => "About project here2"
        .checkbox
          = f.check_box :is_department
          is department?
      %p
        .actions
          = f.button 'Save', :class => "btn"

  - if @project_managers.present? && @project_managers.any?
    - @project_managers.each do |pm|
      .lead
        .avatar
          = user_icon(pm)
        = pm.fio

      %blockquote
        - # Проекты этого менеджера в которых участвует current_user
        = render @projects.to_a.select {|p| !p.is_department? && p.project_manager == pm }

  - @projects.without_departments.each do |project|
    - if project.project_manager.nil?
      = render project

.lead
  Departments

- @projects.only_departments.each do |project|
  %p
    %i.icon-briefcase
    &nbsp;
    = link_to project.name, project
