%p
  %h3
    = link_to '+ New Project', new_project_path


%table.table.table-hover
  %tr
    %th Name
    %th Desc
    -#%th
    -#%th

  - @projects.each do |project|
    %tr
      %td= link_to project.name, project
      %td= project.desc
      %td
        - begin
          = truncate(project.discussions.first.comments.first.comment, :length => 12)
        - rescue
      -#%td= link_to 'Show', project
      -#%td= link_to   'Edit', edit_project_path(project)
      %td
        = link_to project, method: :delete, data: { confirm: 'Are you sure?' } do |l|
          %i.icon-remove



%br


