<h2><%= t 'devise.invitations.edit.header' %></h2>
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :put} do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :invitation_token %>


    <div class="well">

    <%= f.password_field :password, :placeholder => "Password" %>

    <p>
      <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %></p>

    </div>
    <p>
      <%= f.text_field :first_name, :placeholder => "First name" %></p>

    <p>
      <%= f.text_field :second_name, :placeholder => "Second name" %></p>


    <p>
      <%= f.text_field :initials, :placeholder => "Initials" %></p>

    <p><%= f.button t("devise.invitations.edit.submit_button"),  :class => "btn" %></p>
<% end %>
