!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "Abulafia"
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="")
    %meta(name="author" content="")
    = csrf_meta_tags
    = yield(:head)
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}

    :css
      body {
        padding-top: 80px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    -#%link(rel="shortcut icon" href="images/favicon.ico")
    -#%link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
    -#%link(rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png")
    -#%link(rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png")

  - papers = []
  - papers << "012-subtle-light-patterns.jpg"
  - papers << "background-texture.jpg"
  - papers << "creampaper.png"
  - papers << "debut_light.png"
  - papers << "diagonal_waves.png"
  - papers << "billie_holiday.png"
  - papers << "shl.png"
  - papers << "shl_2X.png"
  -#%body{:style => "background: url(/assets/#{papers.sample})"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ :data => { :toggle => "collapse", :target => ".nav-collapse" }}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to "Abulafia", root_path, :class => "brand"
          .nav-collapse.collapse.navbar-responsive-collapse
            %ul.nav
              -#%li= link_to "Home", root_path
              - if controller.controller_name == "projects"
                %li.active
                  = link_to t( :projects), projects_path
              - else
                %li
                  = link_to t( :projects), projects_path


              -#%li= link_to "About", "#about"
              -#%li= link_to "Contact", "#contact"
            %p.navbar-text.pull-right
              - if user_signed_in?
                Hello,
                = link_to current_user.login, edit_user_registration_path, :tile => "Edit profile"
                = link_to destroy_user_session_path do |l|
                  %i.icon-signout{:title => "Sign out"}
              - else
                = link_to new_user_session_path do |l|
                  %i.icon-signin{:title => "Sign in"}

    .container
      .row
        -if action_name == "users_page"
          - div_column = "span12"
        - else
          - div_column = "span8"
        %div{:class =>div_column}



          = content_tag :h1, yield(:title) if show_title
          = yield

        - unless action_name == "users_page"
          .span4
            -if @activities
              -for activity in @activities
                =render_activity(activity)

            - if controller_name == "projects" && action_name == "show"
              .users_stories
                = render :partial => "projects/stories_all",:locals => {:project => @project, :user => current_user}

        .span4
          =yield :right_column

      -#%footer.navbar-fixed-bottom
      -#  = app_name
      -#  Copyright &copy;  2012. All Rights Reserved.

    = javascript_include_tag "application", controller_name
