!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "Abulafia"
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="")
    %meta(name="author" content="")
    = csrf_meta_tags
    = yield(:head)
    = stylesheet_link_tag "application", :media => "all"
    :css
      body {
        padding-top: 30px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    -#%link(rel="shortcut icon" href="images/favicon.ico")
    -#%link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
    -#%link(rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png")
    -#%link(rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png")

  - papers = []
  - papers << "012-subtle-light-patterns.jpg"
  - papers << "background-texture.jpg"
  - papers << "white_wall.png"
  - papers << "creampaper.png"
  - papers << "debut_light.png"
  -#%body{:data=>{:project_id => @project.id}, :style => "background: url(/assets/#{papers.sample})"}
  %body{:data=>{:project_id => @project.id}, :style => "background: url(/assets/012-subtle-light-patterns.jpg)"}
    .navbar-fixed-top{:style => "padding: 10px;"}
      .row-fluid
        .span3.pull-right
          .list_of_vis_links{:style => "text-align:right"}
            Filter:
            .btn-group
              =link_to "#", :class => "btn active", :id =>"feature" do
                %i.icon-star-empty.orange
              =link_to "#", :class => "btn active", :id => "bug" do
                %i.icon-bolt.red
              =link_to "#", :class => "btn active", :id => "chore" do
                %i.icon-cogs
              =link_to "#", :class => "btn active", :id => "story" do
                %i.icon-star-half

    .container-fluid
      .row-fluid
        - if flash[:alert] || flash[:notice]
          = gflash
        = content_tag :h1, yield(:title) if show_title
        = yield

    = javascript_include_tag "application", controller_name
